.main-content-banner {
    width: 100%;
    background:
        radial-gradient(circle at 68% 50%, rgba(255, 73, 112, 0.484), transparent 55%),
        linear-gradient(120deg, rgba(252, 248, 243, 0.365), rgba(144, 28, 140, 0.338)),
        linear-gradient(50deg, #fdf7f4, rgb(242, 140, 31), rgb(62, 8, 95));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 5%;
    overflow: hidden;
    position: relative;
    padding-bottom: 2rem;
    padding-top: 6.8rem;
    gap: 3rem;
}

.banner-column-container {
    display: flex;
    flex: 1;
    width: 100%;
}

.banner-presentation-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    align-items: center;
}

.banner-hero-section {
    flex: 1;
    color: white;
    z-index: 2;
    max-width: 40%;
    align-items: center;
}

.banner-title {
    font-size: 4.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.banner-title strong {
    background: linear-gradient(90deg, #d96500, #ba4976);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    letter-spacing: 5px;
    padding-inline: 2px;
}

.banner-description {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #4e3f2a;
    font-weight: 500;
}

.parallax-wrapper {
    flex: 1;
    height: 100%;
    max-width: 70%;
    position: relative;
    align-items: center;
    justify-content: center;
}


.shoe-layer {
    position: absolute;
    top: 14%;
    transform: translateY(-50%);
    transition: transform 0.4s ease;
}

.shoe-layer img {
    height: auto;
    pointer-events: none;
    user-select: none;
}

/* Camadas ajustadas para sobreposição */
.shoe-layer.front {
    z-index: 2;
    left: 32%;
}

.shoe-layer.back {
    z-index: 1;
    opacity: 0.6;
    left: 10%;
}

/* ============================
    Banner Add Item Container
============================ */

.banner-add-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
}

.banner-add-item-container button {
    background: linear-gradient(120deg, #e09231, #ba4976);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.banner-add-item-container button:hover {
    transform: scale(1.05);
    background: linear-gradient(120deg, #ff9412, #ed3f7f);
}

/* ============================
    Banner Item Card Container
============================ */
.banner-items-card-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}